<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage.css">
</head>

<body>

    <div class="sidenav">
        <img src="VJIT_ph.png" alt="Profile Image">
        <a href="#">Home</a>
        <a href="/login">Login</a>
        <a href="/admin">Admin</a>
    </div>

    <div class="main-content">
        <div class="box-container">
            <h1>About</h1>
            <div class="box">
                <img src="trainingprocess.png" alt="">
                <div class="content">
                    <div class="head_txt">Training</div>
                    <div class="txt">The Training and Placements Cell of VJIT applies a unique concept to secure the maximum
                        result. At the 2nd year level, it provides common placement oriented training for all the students,
                        focussing on the basics of quant, logical reasoning, verbal ability, and C coding. At the 3rd year
                        level, they are given a choice to enroll for placements if they are interested in it.<br>

                        The registered students are issued a Placement ID card with unique placement id number. The Normal
                        observation is – about 70% of students enrol for the placements.<br>
                        At levels 2 & 3 it means at the end of 2nd Year 2nd semester to 4th Year 1st Semester each student
                        is provided with about 120 hrs of Verbal, 120 hrs of Quant and Problem Solving and about 200 hrs of
                        core (like for circuit branches it is coding) training. So from 2nd year to 4th year, each job
                        aspiring student gets about 400 hrs of Industry Readiness Training. The total training also includes
                        Company Specific dedicated training to improve the competency of the students.
                    </div>
                </div>
            </div>

            <div class="box">
                <img src="patners.png" alt="">
                <div class="content">
                    <div class="head_txt">Training & Assesment Partners</div>
                    <div class="txt">Our college has partnered with three outstanding organizations to help our students achieve success in the workforce.<br>
                        1. Talentio – Training & Assesments<br>
                        2. SHL Aspiring Minds Adaptive Test(AMCAT):Job readiness and performance potential for entry level.<br>
                        3. CODE TANTRA – Coding Platform & Online Assessments<br>
                        4.Instacks-Coding Practice, Online Assessments & Internships<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
